UserInterfaceState.xcuserstate
Breakpoints_v2.xcbkptlist
WorkspaceSettings.xcsettings
DataCollector.xcscheme
FlowMeter.xcodeproj/project.xcworkspace/xcshareddata/FlowMeter.xcscmblueprint
FlowMeter.xcodeproj/xcuserdata/sbogutzky.xcuserdatad/xcschemes/FlowMeter.xcscheme
FlowMeter.xcodeproj/xcuserdata/sbogutzky.xcuserdatad/xcschemes/HeartRateMonitorFramework.xcscheme
FlowMeter.xcodeproj/xcuserdata/sbogutzky.xcuserdatad/xcschemes/xcschememanagement.plist
