[submodule "MBProgressHUD"]
	path = MBProgressHUD
	url = https://github.com/jdg/MBProgressHUD.git
[submodule "Reachability"]
	path = Reachability
	url = https://github.com/tonymillion/Reachability.git
[submodule "ZipKit"]
	path = ZipKit
	url = https://github.com/kolpanic/ZipKit.git
[submodule "HeartRateMonitorFramework"]
	path = HeartRateMonitorFramework
	url = https://sbogutzky@bitbucket.org/sbogutzky/heartratemonitorframework.git
[submodule "BEMSimpeLineGraphFlowMeter"]
	path = BEMSimpeLineGraphFlowMeter
	url = https://sbogutzky@bitbucket.org/sbogutzky/bemsimplelinegraph.git
