<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlowMeter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>HeartRateMonitor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>604CCD8916A6F31000E87194</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D31AA2AF1951FD19004ACB8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D31AA2B91951FD19004ACB8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D35E713F16C13D2800A20000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
